* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

header {
  background-image: url("./assets/imgs/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  color: white;
  font-size: 96px;
  font-family: "Raleway";
  font-weight: bold;
  text-align: center;
}

h2 {
  color: white;
  font-size: 26px;
  font-family: "Raleway";
  text-align: center;
}

h3 {
  font-size: 80px;
  font-family: "Raleway";
  text-align: center;
  color: #9f0908;
  margin-top: 120px;
  margin-bottom: 64px;
}

th {
  font-size: 56px;
  font-weight: bold;
  font-family: "Economica";
  padding-bottom: 16px;
}

td {
  color: #675e54;
  font-size: 32px;
  font-weight: bold;
  font-family: "Raleway";
  padding-bottom: 8px;
}

footer {
  background-color: #0a141e;
  height: 144px;
  padding: 112px 160px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
